$font-family-icon:     "FontAwesome" !default;
$check-icon:           $fa-var-check !default;
$checkbox-border:      $input-border !default;
$checkbox-color:       $input-color !default;
$checkbox-bg-disabled: $input-bg-disabled !default;
$checkbox-primary:     $brand-primary !default;
$checkbox-danger:      $brand-danger !default;
$checkbox-info:        $brand-info !default;
$checkbox-warning:     $brand-warning !default;
$checkbox-success:     $brand-success !default;