@mixin radio-variant($parent, $color) {
  #{$parent} input[type="radio"]{
    & + label{
      &::after{
        background-color: $color;
      }
    }
    &:checked + label{
      &::before {
        border-color: $color;
      }
      &::after{
        background-color: $color;
      }
    }
  }
}
