.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }
  .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
  .checkbox label:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    font-size: 11px; }
.checkbox input[type=checkbox] {
  display: none; }
  .checkbox input[type=checkbox]:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
  .checkbox input[type=checkbox]:disabled + label {
    opacity: 0.65; }
    .checkbox input[type=checkbox]:disabled + label:before {
      background-color: #eeeeee;
      cursor: not-allowed; }
.checkbox.checkbox-circle label:before {
  border-radius: 50%; }

.checkbox-primary input[type=checkbox]:checked + label:before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type=checkbox]:checked + label:after {
  color: #fff; }

.checkbox-danger input[type=checkbox]:checked + label:before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type=checkbox]:checked + label:after {
  color: #fff; }

.checkbox-info input[type=checkbox]:checked + label:before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type=checkbox]:checked + label:after {
  color: #fff; }

.checkbox-warning input[type=checkbox]:checked + label:before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type=checkbox]:checked + label:after {
  color: #fff; }

.checkbox-success input[type=checkbox]:checked + label:before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type=checkbox]:checked + label:after {
  color: #fff; }
